{% extends "base.html" %} {% block title %}Rental Listings{% endblock title %} {% block content %}
{% load render_table from django_tables2 %}
{% load static %}
<div class="container bg-light" >
   <!-- <canvas></canvas> -->
   <hr/>
   <hr/>
   <hr/>
   <hr/>
   
<form class="form-inline" action="" method="get" style="font-size:xx-small"> 
    <table class="table table-striped">
        <tr class="bg-dark text-light">
            {% for field in myFilter.form %}
            <td class="text-left" style="text-align: start;" colspan="2">
                {{field.label_tag}} 
            </td>
            {% endfor %}
            <td colspan="2"></td>
        </tr>
        <tr>{% for field in myFilter.form %}
            <td colspan="2">
                 {{field}}

            </td>
            {% endfor %}
            <td colspan="2"> <button class="btn btn-sm btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ic_find_in_page_24px</title>
                <g fill="#020202">
                    <path d="M20 19.59V8l-6-6H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c.45 0 .85-.15 1.19-.4l-4.43-4.43c-.8.52-1.74.83-2.76.83-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5c0 1.02-.31 1.96-.83 2.75L20 19.59zM9 13c0 1.66 1.34 3 3 3s3-1.34 3-3-1.34-3-3-3-3 1.34-3 3z"></path>
                </g>
            </svg></button></td>
        </tr>
    </table>
    
  <!-- {{myFilter.form.as_p}} -->

</form>
   <div class="table table-striped" style="font-size:x-small">
    {%if rental_places %} 
        {% render_table rental_places_table %}
    {% endif %}
</div>
</div>
<hr> {% endblock content %}